@* Views/Shared/_Layout.cshtml *@
<!DOCTYPE html>
<html lang="en">
  @await Html.PartialAsync("_Head")
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
        @await Html.PartialAsync("_Nav")
        @await Html.PartialAsync("_Sidebar")
        <main class="app-main">
            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="mb-0">@ViewData["Title"]</h3>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-end">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-content">
                <div class="container-fluid">
                    @RenderBody() <!-- Inject view content here -->
                </div>
            </div>
        </main>
        @await Html.PartialAsync("_Footer")
    </div>
    @await Html.PartialAsync("_Scripts")
    @RenderSection("Scripts", required: false)
</body>
</html>